body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, Arial;
}
a {
    text-decoration: none;
}



.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
}
.upper-menu {
    display: flex;
    margin: 10px 100px 10px 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.upper-menu .title {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}
.upper-menu ul {
    list-style-type: none;
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 15px;
}

.content {
    margin: 10px 100px 10px 100px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 60px;
}
.user-interact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.user-interact .title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.user-interact .message {
    font-size: 18px;
    color: #E5E7EB;
}
.user-interact button {
    justify-content: left;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #3882F6;
}

.company-logo {
    padding: 100px 120px;
    background-color: grey;
    color: white;
    justify-content: center;
    align-items: center;
}



.boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: space-between;
    gap: 90px;
}
.boxes .title {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    padding: 41px;
}
.container .group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    margin-bottom: 30px;
    
}
.container .group .shape{
    display: flex;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border: 3px solid #3882F6;
    border-radius: 15px;
    padding: 80px;

}
.container .group .text {
    font-size: 18px;
    color: #383838;
    max-width: 186px;
    text-align: center;
}




.quote {
    padding: 40px;
    background-color: #E5E7EB;
    align-items: center;
}
.quote .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 82px 380px;
}
.quote .phrase {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    margin-bottom: -100px;
}
.quote .author {
    font-size: 18px;
    font-weight: bolder;
    
}




.sign-up {
    display: flex;
    justify-content: center;
    max-height: 453px;
    padding: 100px;
}

.sign-up .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 230px;
    background-color: #3882F6;
    border-radius: 5px;
    height: 100px;
    width: 1000px;
}
.sign-up .container .user-interact {
    display: flex;
    padding-left: 10px;
    color: white;
    gap: 10px;
}
.sign-up .container .user-interact .title {
    font-size: 20px;
    margin-bottom: -10px;
    font-weight: bold;
}
.sign-up .container .user-interact .text {
    font-size: 10px;
}
.sign-up .container button {
    background-color: #3882F6;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    font-weight: bold;
}